body{
    background-color: #74DAFF;
    background-image: url(https://th.bing.com/th/id/OIP.JIdT3rnQJnqNy-eaST_W7gHaEF?w=308&h=180&c=7&r=0&o=5&pid=1.7)
}

.img1 {
    height: 50px;
}

nav{
    background-color: #bd57bd;
}

.textbox{
    border: white solid ;
    margin: 20px ;
    margin-top: 100px;
    text-align: center;
    font-size: 20pt ;
    background-color: #bd57bd;
    color: white;
}

.button{
    margin: 20px 20px 20px 20px;
}
.img2{
    text-align: center;
    margin-top: 100px;
}

